@model BookLibrary.ViewModels.BookViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    @*<h4>BookViewModel</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDBook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDBook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfCopies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfCopies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDBooksCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDBooksCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDLocationInLibrary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDLocationInLibrary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageUrl)
        </dd>

    </dl>
</div>
@foreach (var item in Model.BooksCategories)
{
    <div style="background-color:darkgrey;border:solid">
        <p>
            Genre: @Html.DisplayNameFor(modelItem => item.Genre)
        </p>
        <p>
            Genre: @Html.DisplayFor(modelItem => item.Genre)
        </p>
    </div>
}

<p>

    @Html.ActionLink("Back to List", "Index")
</p>
