@model BookLibrary.ViewModels.LocationInLibraryBooksViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    @*<h4>LocationInLibraryBooksViewModel</h4>*@
    <hr />
    <dl class="dl-horizontal"style="background-color:darkgrey">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Floor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Floor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shelf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shelf)
        </dd>

    </dl>
</div>
@foreach(var item in Model.Books)
{
<div style="background-color:darkgrey;border:solid" >
    <p>
       Name: @Html.DisplayFor(modelItem => item.Name)
    </p>
    <p>
       Author: @Html.DisplayFor(modelItem => item.Author)
    </p>
    <p>
       Publisher: @Html.DisplayFor(modelItem => item.Publisher)
    </p>
    <p>
       Copies: @Html.DisplayFor(modelItem => item.NumberOfCopies)
    </p>
</div>
}
<p>
    @Html.ActionLink("Back to List","Index")
</p>

