@model BookLibrary.Models.CustomerModel

@{
    ViewBag.Title = "CustomerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CustomerDetails</h2>

<div>
    <h4>CustomerModel</h4>
    <hr />
    <dl class="dl-horizontal"style="background-color:darkgrey">
        <dt>
            @Html.DisplayNameFor(model => model.IDCustomer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCustomer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerSince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerSince)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BooksReturnedOnTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BooksReturnedOnTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyFeePayed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyFeePayed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.IDCustomer  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
