@model BookLibrary.Models.BorrowFormModel

@{
    ViewBag.Title = "DeleteBorrowForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteBorrowForm</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BorrowFormModel</h4>
    <hr />
    <dl class="dl-horizontal"style="background-color:darkgrey">
        <dt>
            @Html.DisplayNameFor(model => model.IDBorrowForm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDBorrowForm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDBook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDBook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDCustomer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCustomer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BorrowedFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BorrowedFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BorrowedUntil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BorrowedUntil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnedOnTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnedOnTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProperConditionsReturn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProperConditionsReturn)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
