@model BookLibrary.Models.BooksCategoryModel

@{
    ViewBag.Title = "BooksCategoryDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BooksCategoryDetails</h2>

<div>
    @*<h4>BooksCategoryModel</h4>*@
    <hr />
    <dl class="dl-horizontal"style="background-color:darkgrey">
        <dt>
            @Html.DisplayNameFor(model => model.IDBooksCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDBooksCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildAppropriate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildAppropriate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.IDBooksCategory  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
