@model IEnumerable<BookLibrary.Models.BookModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>*@

@{ if (User.IsInRole("Admin"))
    {
        <p>

            @Html.ActionLink("Create New", "Create")
        </p>
    } }
<p>
    @using (Html.BeginForm("Index", "UserBooks", FormMethod.Get))
    {
        <b>Search By:</b> @Html.RadioButton("searchBy", "Name", true)<text>Name</text>
        @Html.RadioButton("searchBy", "Author")<text>Author</text>
        @Html.TextBox("search") <input type="submit" value="Search" />
    }
</p>

<table class="table" style="background-color:darkgrey;border:solid" align="center">
    @foreach (var item in Model)
    {
        <div style="text-align:center;border:solid">
            <div style="background-color:darkgrey;border:solid">
                <img src=" @Html.DisplayFor(modelItem => item.imageUrl)" /><br />
                <b>@Html.DisplayFor(modelItem => item.Name)</b><br />
                Author:@Html.DisplayFor(modelItem => item.Author)<br />
                Publisher: @Html.DisplayFor(modelItem => item.Publisher)<br />
                Copies: @Html.DisplayFor(modelItem => item.NumberOfCopies)<br />

            </div>

        </div>
    }

</table>

